body {
  background-color: #f5d9d5;
  font-family: Nunito, sans-serif;
}

#mainNavbar>* {
  font-size: 1.5rem;
  font-weight: 100;
}

#mainNavbar .navbar-brand {
  color: #ea1c2c;
}

#mainNavbar .nav-link {
  text-transform: uppercase;
  color: white;
}

#mainNavbar .nav-link:hover {
  color: #ea1c2c;
}

#headingGroup h1 {
  text-transform: uppercase;
  color: white;
  font-size: 4rem;
  font-weight: 100;
}